* {
	font-family: 'Raleway', sans-serif;
	color: #2d3c49;
}

body {margin: 0px;}

h1,h2,h3,h4,h5 {
	letter-spacing: 2px;
}

h1 {font-size: 2.9em;}
h2 {font-size: 1.9em;}
h3 {font-size: 1.2em;}

header, main, #featured-work .list {
	display: flex;
	flex-wrap: wrap;
}

main, header {
	margin: 0 auto;
	max-width: 900px;
}

header, main > section {
	margin-bottom: 1em; 
}


@media screen and (max-width: 549px) {
	/*Header*/
	#logo {width: 100%; order:0; text-align:center;}
	#branding {width:100%; order: 1; text-align:center;}

	/*Main*/
	#jumbotron {width: 100%; order: 0;}
	#featured-work {width: 100%; order: 1;}
	#featured-work .list .item {width: 100%;}
}

@media screen and (min-width: 550px) {
	/*Header*/
	#logo {width: 50%; order: 0; display: flex; align-items: center;}
	#branding {width: 50%; order: 1; text-align: right;}

	/*Main*/
	#jumbotron {width: 100%; order: 0;}

	#featured-work {width: 100%; order: 1;}
	#featured-work .list .item {width: 33.3333%;} 
	#featured-work .list .item:first-child > div { padding-left: 0px;}
	#featured-work .list .item:last-child > div {padding-right: 0px;} 

}

header {
	border-bottom: 5px solid #7d97ad;
	padding: 1em 0;
}

#logo img {width: 90px; height: auto;} 


#jumbotron {
	margin-bottom: 0.5em;
} 

#jumbotron img {
	width:100%;
}

#featured-work .list .title {
	text-align: center;
}

#featured-work .list .item img {
	width: 100%;
}

#featured-work .list .item p {
	text-align:center;
	word-wrap: break-word;
}

#featured-work .list .item > div {
	padding: 0 10px;
} 



