body {
	margin: 0px;

}

main, #featured-work .list {
	display: flex;
	flex-wrap: wrap;
}

main, header {
	margin: 0 auto;
	max-width: 900px;
}

@media screen and (max-width: 549px) {
	#jumbotron {width: 100%; order: 0;}
	#featured-work {width: 100%; order: 1;}
	#featured-work .list .item {width: 100%;}
}

@media screen and (min-width: 550px) {
	#jumbotron {width: 100%; order: 0;}
	#featured-work {width: 100%; order: 1;}
	#featured-work .list .item {width: 33.3333%;} 
}



#jumbotron img {
	width:100%;
}

#featured-work .list .title {
	text-align: center;
}

#featured-work .list img {
	width: 100%;
}
